[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pyflakes = "*"
yapf = "*"
coverage = "*"
ipython = "*"

[packages]
djangorestframework = ">=3.12"
django-softdelete = "*"
django-extensions = "*"
Django = "==3.2"
drf-spectacular = "*"
colorama = "*"
oauth-pda-app = {editable = true, ref = "v0.1.0", git = "https://github.com/SiMDE-Projects/oauth_pda_utc"}


[requires]
python_version = "3.8"

[scripts]
test = "./test.sh"
