<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Flairsou</title>
        {% load static %}
        <script src="{% static "flairsou_frontend/main.js" %}" defer></script>
    </head>

    <body>
        <div id="app">
            <!-- React will load here -->
        </div>
        <noscript>
            You need to enable JavaScript to run this app.
        </noscript>
    </body>
</html>
