/* Unused SCSS file at the moment */
.search-bar{
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

    .ui {
        input {
            border: none;
            margin-left: 5px;
            width: 100%;

            :focus {
                outline: none;
            }
        }
    }
}
