.search-bar{
    border-radius: 5px;
    background-color: #fff;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.search-bar input{
    border: none;
    margin-left: 5px;
    width: 100%;
}

.search-bar input:focus {
    outline: none;
}